<div class="card card--primary">
    <header class="card__header">
      <span class="header__title">Entry</span>
      <span class="header__pricing">$14</span>
      <span class="header__billing-cycle">/months</span>
      <span class="badge badge--primary">10% off </span>
      <span class="header__description">East start on the cloude</span>
    </header>
    <div class="card__body">
    <ul class="list">
      <li class="list__item"><i class="fas fa-check"></i><p class="list__item-text">Lorem ipsum dolor sit amet.</p></li>
      <li class="list__item"><i class="fas fa-check"></i><p class="list__item-text">Lorem ipsum dolor sit amet.</p></li>
      <li class="list__item"><i class="fas fa-check"></i><p class="list__item-text">Lorem ipsum dolor sit amet.</p></li>
      <li class="list__item"><i class="fas fa-check"></i><p class="list__item-text">Lorem ipsum dolor sit amet.</p></li>
    </ul>
    <button class="btn btn--outline">buy now</button>
    </div>
  </div>